{% extends 'base.html' %}
{% include 'header.html' %}



{% block title %} Home {% endblock %}



{% block body %}

<div class="container">
    <div class="row">
        <div class="col md-12">

            <div class="jumbotron p-3">


                {% with messages = get_flashed_messages() %}

                {% if messages %}

                {% for message in messages %}

                <div class="alert alert-success alert-dismissable" role="alert">

                    <button type="button" class="close" data-dismiss="alert" aria-label="close">

                        <span aria-hidden="true">x</span>

                    </button>


                {{message}}


                </div>


                {% endfor %}

                {% endif %}
                {% endwith %}


                <table class="table table-hover table-dark">

                    <tr>

                        <th>ID</th>
                        <th>Names</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Action</th>
                        <th>Upload resumes</th>
                        <th>Send email</th>

                    </tr>


                   {% for row in employees %}
                    <tr>
                        <td>{{row.id}}</td>
                        <td>{{row.names}}</td>
                        <td>{{row.Start_time}}</td>
                        <td>{{row.End_time}}</td>

                        <td>
                            <a href="/edit/{{row.id}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.id}}">Edit</a>
                            <a href="/delete/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')">Delete</a>


                        </td>
                        <td>
                            <p>
                                <label for="uploads">
                                   Choose the files you want to upload:
                                </label>
                                <input type="file" id="uploads" name="uploads" accept=".pdf" multiple>
                              </p>
                        </td>
                        <td>
                            <form method=”POST” enctype=”multipart/form-data” name=”EmailForm”>

                                <input type="button" value="Send Email" onclick="sendEmail()"/>
                                <h7>Send email to candidate</h7>
                           </form>


                        </td>

                    </tr>


                  <!-- Modal Edit Employee-->
<div id="modaledit{{row.id}}" class="modal fade" role="dialog">
   <div class="modal-dialog">


      <div class="modal-content">


         <div class="modal-header">


            <h4 class="modal-title">Update Information</h4>


         </div>


         <div class="modal-body">


            <form action="/edit" method="POST">


               <div class="form-group">


                  <label>Names:</label>
                   
                  <input type="hidden"  name="id" value="{{row.id}}">
 
                   
                   <input type="email" multiple name="email" id="emails" list="drawfemails" required size="64" value="{{row.names}}">

                    <datalist id="drawfemails">
                      <option value="p1@woodworkers.com">Person 1</option>
                      <option value="p2@woodworkers.com">Person 2</option>
                      <option value="p3@woodworkers.com">Person 3</option>
                      <option value="p4@woodworkers.com">Person 4</option>
                      <option value="p5@woodworkers.com">Person 5</option>
                    </datalist>
               </div>



               <div class="form-group">


                  <label>Start time</label>

                  <input type="text" class="form-control" name="stt" value="{{row.Start_time}}">


               </div>


               <div class="form-group">


                  <label>End Time</label>

                  <input type="text" class="form-control" name="ent" value="{{row.End_time}}">


               </div>


               <div class="form-group">


                  <input  type="submit">Update


               </div>


            </form>


         </div>


         


      </div>


   </div>

</div>


                    {% endfor %}


                </table>


            </div>



                  


        </div>

    </div>


</div>
<style>
    body {
        
        background-image: url('/static/bg2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        padding: 0px;
    }
    .container{
        color: bisque;
    }
    header {
        background-color: rgb(239, 116, 255);
        padding: 8px;
        text-align: center;
        font-size: 35px;
        color: white;
        }
    .he {
        background-color: rgb(89, 4, 158);
        padding: 8px;
        text-align: center;
        font-size: 20px;
        color: rgb(7, 0, 0);
        }
    #research {
        font-size: 18px;
        width: 100px;
        height: 23px;
        top: 23px;
    }
    
    #box {
        border-radius: 60px;
        border-color: 45px;
        border-style: solid;
        font-family: cursive;
        text-align: center;
        background-color: rgb(168, 131, 61);
        font-size: medium;
        position: absolute;
        width: 700px;
        bottom: 9%;
        height: 850px;
        right: 30%;
        padding: 0px;
        margin: 0px;
        font-size: 14px;
    }
    
    #fuel {
        width: 83px;
        height: 43px;
        text-align: center;
        border-radius: 14px;
        font-size: 20px;
    }
    
    #fuel:hover {
        background-color: coral;
    }
    
    #research {
        width: 99px;
        height: 43px;
        text-align: center;
        border-radius: 14px;
        font-size: 18px;
    }
    
    #research:hover {
        background-color: coral;
    }
    
    #resea {
        width: 99px;
        height: 43px;
        text-align: center;
        border-radius: 14px;
        font-size: 18px;
    }
    
    #resea:hover {
        background-color: coral;
    }
    
    #sub {
        width: 120px;
        height: 43px;
        text-align: center;
        border-radius: 14px;
        font-size: 18px;
    }
    
    #sub:hover {
        background-color: darkcyan;
    }
    
    #first {
        border-radius: 14px;
        height: 25px;
        font-size: 20px;
        text-align: center;
    }
    
    #second {
        border-radius: 14px;
        height: 25px;
        font-size: 20px;
        text-align: center;
    }
    
    #third {
        border-radius: 14px;
        height: 25px;
        font-size: 20px;
        text-align: center;
    }
    
    #fourth {
        border-radius: 14px;
        height: 25px;
        font-size: 20px;
        text-align: center;
    }
    .button {
    background-color: #f19fbb; 
    border: none;
    color: rgb(22, 5, 83);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    margin-right: 50px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    }

    

    .btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }
</style>
<script type="text/javascript">
    function sendEmail() {
	Email.send({
	Host: "smtp.gmail.com",
	Username : "vani@gmail.com",
	Password : "1234",
	To : 'vani@gmail.com',
	From : "vani@gmail.com",
	Subject : "Interview Schedule",
	Body : "email body",
	}).then(
		message => alert("mail sent successfully")
	);
}
</script>

{% endblock %}